<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url(<%= asset_path( 'Chat_22.jpg' ) %>);">
    <h2 class="ltext-105 cl0 txt-center">
      <br>
      Inscription
    </h2>
</section>

<br>

<div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="light-well">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages" , resource: resource %>

            <div class="field form-group">
              <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
            </div>

            <div class="field">
              <%= f.label :password %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div>
            <br>

            <div class="actions">
              <%= f.submit "Sign up" , :class=> 'btn btn-secondary' %>
            </div>
            <br>
            <% end %>

              <%= render "devise/shared/links" %>
          </div>
      </div>
</div>