  <!DOCTYPE html>
  <html>
    <head>
      <title>ChatonProject</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.png"/>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= stylesheet_link_tag 'bootstrap-grid.css', media: 'all' %>
        <%= stylesheet_link_tag 'material-design-iconic-font.css', media: 'all' %>
        <%= stylesheet_link_tag 'icon-font.min.css', media: 'all' %>
        <%= stylesheet_link_tag 'animate.css', media: 'all' %>
        <%= stylesheet_link_tag 'hamburgers.css', media: 'all' %>
        <%= stylesheet_link_tag 'animsition.css', media: 'all' %>
        <%= stylesheet_link_tag 'select2.css', media: 'all' %>
        <%= stylesheet_link_tag 'magnific-popup.css', media: 'all' %>
        <%= stylesheet_link_tag 'perfect-scrollbar.css', media: 'all' %>
        <%= stylesheet_link_tag 'slick.css', media: 'all' %>
        <%= stylesheet_link_tag 'util.css', media: 'all' %>
        <%= stylesheet_link_tag 'main.css', media: 'all' %>


      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <%= javascript_include_tag 'animsition.js', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'select2.js', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'perfect-scrollbar.min.js', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'jquery.magnific-popup.min.js', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'slick.js', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'slick-custom.js', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'main.js', 'data-turbolinks-track': 'reload' %>
      
    </head>
    <body class="animsition">

      <%= render 'layouts/navbar'%>
      <%= render 'layouts/cart'%>
      <div class="container">
      <p id="alert"><%= alert %></p>
      <%= yield %>
      </div>
      <br/>
      <%= render 'layouts/footer'%>

    <script>
    jQuery(".js-select2").each(function(){
        jQuery(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: jQuery(this).next('.dropDownSelect2')
        });
      })
    </script>

    <script>
		jQuery('.gallery-lb').each(function() { // the containers for all your galleries
    jQuery(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>

    <script>
		jQuery('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		jQuery('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			jQuery(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				jQuery(this).addClass('js-addedwish-b2');
				jQuery(this).off('click');
			});
		});

		jQuery('.js-addwish-detail').each(function(){
			var nameProduct = jQuery(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				jQuery(this).addClass('js-addedwish-detail');
				jQuery(this).off('click');
			});
		});

		/*---------------------------------------------*/

		jQuery('.js-addcart-detail').each(function(){
			var nameProduct = jQuery(this).parent().parent().parent().parent().find('.js-name-detail').html();
			jQuery(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
  <script>
  jQuery('.js-pscroll').each(function(){
    jQuery(this).css('position','relative');
    jQuery(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			jQuery(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
  </body>
</html>